*{
    background-color: #00294b;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #00294b;
    padding: 10px;
    color: white;
    height: 100vh;
  }
  .grid-item {
    color: white;
    /* //border: 1px solid rgba(255, 255, 255, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  td{
    color: white;
  }
  .borderless td, .borderless th {
    border: none;
}
