body {
    background-color: #202a3a;
}

@font-face {
    font-family: futuraBold;
    src: url(fonts/FuturaStd-Bold.otf);
}

@font-face {
    font-family: futuraMedium;
    src: url(fonts/FuturaStd-Medium.otf);
}

@font-face {
    font-family: futuraLight;
    src: url(fonts/FuturaStd-LightOblique.otf);
}

.main {
    width: 95%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.gridContainer {
    display: grid;
    gap: 2vw;
}

.gridColL {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridColM {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridColR {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.title {
    font-family: futuraBold;
    font-size: 35px;
    color: #FFFFFF;
    text-align: left;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.4), 3px 3px 2px rgba(0,0,0,0.4);
}

.text {
    font-family: futuraMedium;
    font-size: 35px;
    color: #FFFFFF;
    text-align: left;
    line-height: 50px;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.4), 3px 3px 2px rgba(0,0,0,0.4);
    text-decoration: none;
}

.link:hover {
    color: #535849;
}

.description {
    font-family: futuraLight;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.4), 3px 3px 2px rgba(0,0,0,0.4);
}

.price {
    text-align: right; 
}

.tableA {
    width: 30vw;
}

.tableL {
    width: 70%;
}

.tableR {
    width: 30%;
}

.tableS {
    background-color: #535849;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3), 6px 6px 6px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 5px;
}

.updateList {
    margin: 30px;
}